body {
    background-color:  rgb(98, 118, 161);
}

header {
    color: rgb(228, 222, 222);
}

/* Cabeçalho */

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    margin: 20px 40px;
    width: 100%;
}

.tituloCabecalho {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 20px;
}

.cabecalhoPrincipal .navCabecalho {
  width: 60%;
  font-size: 25px;
}

.itemNavCabecalho {
  display: inline-block;
  padding: 5px;
}

.barraPesquisa {
  padding: 4px 15px;
  border: black 2px solid;
  border-radius: 7px;
  width: 20em; 
}

/* Catalogo */

.catalogoExibicao {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 80%;
  justify-content: center;
}


.imgCatalogo {
  flex-basis: 250px;
  margin: 2%;
  border: 1px solid black;
  border-radius: 10px;
}

/* Rodapé */

 footer {
  position: relative;
  width: 100%;
  height: 70px;
  bottom: 0;
}

.container .iconesRodape {
  display: flex;
  justify-content: center;
}

.iconImg {
  padding: 0 8px;
}
 .container .rodapeCopy {
   display: flex;
   justify-content: center;
   margin-top: 7px;
 }

/* Parte mobile*/

 @media (max-width:810px) {
   .cabecalhoPrincipal .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
   }

   .tituloCabecalho {
     width: 100%;
     text-align: center;
   }

   .navCabecalho {
     flex-direction: column;
     margin: 25px 0;
   }

   .itemNavCabecalho {
     width: 100%;
     text-align: center;
   }
 }