header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exibicao {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dataC {
    margin: 10px;
}
